<a href="https://colab.research.google.com/github/cullanco-huaman/DataExploring/blob/master/practicando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
import pandas as pd

In [69]:
df=pd.read_csv("/content/drive/MyDrive/tes proyecto/data.csv",sep=",", decimal=".")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [70]:
df.head(5)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow
3,8751850432978942600,2,20170205,1.0,1,1.0,NaN,NaN,NaN,bing,Organic Search,Edge,desktop,United States,not available in demo dataset
4,2451058030378352110,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Indonesia,not available in demo dataset

Esta función debe informar la cantidad de registros de la columna country que pertenezcan a Turkey retornando ese valor en un dato de tipo entero.

In [71]:
#df . loc [ df ['country'] == 'Turkey' ,  'country'] . count()
df.apply(lambda x:x['country'] == 'Turkey', axis=1).count()

392892

Esta función debe eliminar las columnas 'fullvisitorID' y luego informar la cantidad de columnas, retornando ese valor en un dato de tipo entero.

In [ ]:
df.drop(["fullVisitorID"],inplace=True, axis=1).head(1)

Esta función debe informar la cantidad de registros sin tener en cuenta aquellos con valores faltantes, retornando ese valor en un dato de tipo entero.

In [72]:
df.sample(10)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
343837,956400092234399616,2,20170411,NaN,3,3.0,35.0,NaN,NaN,(direct),Referral,Chrome,desktop,United States,Kirkland
24694,9054221017020554281,1,20170512,NaN,18,17.0,330.0,39.59,1.0,(direct),Direct,Chrome,desktop,United States,not available in demo dataset
36266,8000973211107523877,1,20170330,NaN,3,3.0,37.0,NaN,NaN,google,Organic Search,Chrome,desktop,Brazil,Sao Paulo
94303,464623221710395549,1,20170410,NaN,2,2.0,293.0,NaN,NaN,google,Organic Search,Safari,desktop,United States,not available in demo dataset
92660,4330956461712245240,1,20170318,NaN,5,3.0,132.0,NaN,NaN,google,Organic Search,Chrome,mobile,United States,not available in demo dataset
236621,5824663264855122775,1,20170329,1.0,1,1.0,NaN,NaN,NaN,google,Organic Search,UC Browser,mobile,India,(not set)
339093,2114358333279984212,1,20170416,1.0,1,1.0,NaN,NaN,NaN,youtube.com,Social,Safari,desktop,Indonesia,not available in demo dataset
358332,54391506396728030,3,20170126,NaN,10,9.0,1632.0,NaN,NaN,(direct),Referral,Chrome,desktop,United States,not available in demo dataset
375535,9990316282146023088,1,20170629,1.0,1,1.0,NaN,NaN,NaN,google,Organic Search,Chrome,desktop,South Africa,not available in demo dataset
191351,8401484493802951853,1,20170427,1.0,1,1.0,NaN,NaN,NaN,(direct),Direct,Chrome,mobile,Germany,not available in demo dataset

In [73]:
#Esta función debe informar la cantidad de registros sin tener en cuenta aquellos con valores faltantes, retornando ese valor en un dato de tipo entero.
datos_faltantes=df.isnull()
datos_faltantes

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392887,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392888,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392889,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392890,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392891,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [74]:
total_datos=datos_faltantes.size-len(datos_faltantes)
total_datos

5500488

In [75]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: fullVisitorID
False    392892
Name: fullVisitorID, dtype: int64

columna: visitNumber
False    392892
Name: visitNumber, dtype: int64

columna: date
False    392892
Name: date, dtype: int64

columna: bounces
True     196928
False    195964
Name: bounces, dtype: int64

columna: hits
False    392892
Name: hits, dtype: int64

columna: pageviews
False    392856
True         36
Name: pageviews, dtype: int64

columna: timeOnSite
True     196493
False    196399
Name: timeOnSite, dtype: int64

columna: transactionRevenue
True     387615
False      5277
Name: transactionRevenue, dtype: int64

columna: transactions
True     387615
False      5277
Name: transactions, dtype: int64

columna: source
False    392892
Name: source, dtype: int64

columna: channelGrouping
False    392892
Name: channelGrouping, dtype: int64

columna: browser
False    392892
Name: browser, dtype: int64

columna: deviceCategory
False    392892
Name: deviceCategory, dtype: int64

columna: country
False    392892
Name: country, dtype: int64

columna: city
False    392892
Name: city, dtype: int64

In [76]:
import numpy as np

In [77]:
#hallando el promedio 
promedio_bounces = df["bounces"].astype("float").mean(axis=0)

In [ ]:
#remplazando  por el preomedio al espacio vacio
df["bounces"].replace(np.nan, promedio_bounces, inplace=True)
df.sample(10)

In [79]:
#hallando el promedio
promedio_bounces = df["timeOnSite"].astype("float").mean(axis=0)

In [80]:
df["timeOnSite"].replace(np.nan, promedio_bounces, inplace=True)

In [81]:
df.dtypes

fullVisitorID          object
visitNumber             int64
date                    int64
bounces               float64
hits                    int64
pageviews             float64
timeOnSite            float64
transactionRevenue    float64
transactions          float64
source                 object
channelGrouping        object
browser                object
deviceCategory         object
country                object
city                   object
dtype: object

la columna bounces refiere a paginas rebotadas, si esta en 1 es por que la persona entro a 
la pagina por error y salio rapidamente, y la columna TimeOnsite refiere al tiempo del
usuario en la pagina. Crear una columna que se llame 'tiempo_real' que contenga la multiplicacion
de las columnas anteriores con el valor real, redondeado a 2 decimales (Ejemplo: 25.189 - > 25.19), 
retornando ese valor en un dato de tipo float.

In [82]:
df["tiempo_real"]=np.round(df["bounces"]*df["timeOnSite"],2).astype(float)

In [83]:
df.sample(5)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city,tiempo_real
151909,488207233015313892,3,20170317,1.0,10,8.0,186.000000,NaN,NaN,(direct),Referral,Chrome,desktop,United States,Irvine,186.00
91884,4210640809782037687,1,20170318,1.0,1,1.0,276.837127,NaN,NaN,google,Organic Search,Chrome,desktop,Canada,not available in demo dataset,276.84
306355,1127451206089371241,4,20170106,1.0,11,9.0,207.000000,NaN,NaN,(direct),Direct,Chrome,desktop,United States,San Jose,207.00
166978,3309623653081698504,1,20170108,1.0,4,4.0,260.000000,NaN,NaN,google,Organic Search,Safari,mobile,United States,New York,260.00
361995,972040324417630819,8,20170627,1.0,8,8.0,327.000000,NaN,NaN,google,Organic Search,Chrome,desktop,United States,Santa Clara,327.00