<a href="https://colab.research.google.com/github/cullanco-huaman/DataExploring/blob/master/practicando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("/content/drive/MyDrive/tes proyecto/data.csv",sep=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.head(5)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow
3,8751850432978942600,2,20170205,1.0,1,1.0,NaN,NaN,NaN,bing,Organic Search,Edge,desktop,United States,not available in demo dataset
4,2451058030378352110,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Indonesia,not available in demo dataset

Esta función debe informar la cantidad de registros de la columna country que pertenezcan a Turkey retornando ese valor en un dato de tipo entero.

In [7]:
#df . loc [ df ['country'] == 'Turkey' ,  'country'] . count()
df.apply(lambda x:x['country'] == 'Turkey', axis=1).count()

392892

Esta función debe eliminar las columnas 'fullvisitorID' y luego informar la cantidad de columnas, retornando ese valor en un dato de tipo entero.

In [ ]:
df.drop(["fullVisitorID"],inplace=True, axis=1).head(1)

Esta función debe informar la cantidad de registros sin tener en cuenta aquellos con valores faltantes, retornando ese valor en un dato de tipo entero.

In [36]:
df.sample(10)

,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
290211,1,20170606,NaN,23,17.0,995.0,NaN,NaN,(direct),Organic Search,Chrome,desktop,United States,not available in demo dataset
185495,1,20170113,1.0,1,1.0,NaN,NaN,NaN,youtube.com,Social,Firefox,desktop,Poland,not available in demo dataset
198482,3,20170204,1.0,1,1.0,NaN,NaN,NaN,(direct),Direct,Chrome,desktop,United States,not available in demo dataset
662,1,20170205,NaN,2,2.0,2.0,NaN,NaN,(direct),Organic Search,Safari,mobile,United States,not available in demo dataset
348143,1,20170608,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Safari,mobile,Thailand,Bangkok
371276,1,20170527,NaN,2,2.0,29.0,NaN,NaN,youtube.com,Social,Chrome,mobile,India,not available in demo dataset
143779,1,20170122,NaN,7,7.0,116.0,NaN,NaN,(direct),Paid Search,Safari,mobile,United States,not available in demo dataset
167033,1,20170108,NaN,6,5.0,76.0,NaN,NaN,google,Organic Search,Safari,tablet,United States,not available in demo dataset
25310,1,20170512,1.0,1,1.0,NaN,NaN,NaN,google.com,Referral,Chrome,desktop,Australia,not available in demo dataset
120710,3,20170419,1.0,1,1.0,NaN,NaN,NaN,(direct),Direct,Chrome,mobile,United States,Sunnyvale

In [34]:
#Esta función debe informar la cantidad de registros sin tener en cuenta aquellos con valores faltantes, retornando ese valor en un dato de tipo entero.
datos_faltantes=df.isnull()
datos_faltantes

,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,False,False,False,False,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392887,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392888,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392889,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392890,False,False,True,False,False,False,True,True,False,False,False,False,False,False
392891,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
total_datos=datos_faltantes.size-len(datos_faltantes)
total_datos

In [ ]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

In [ ]:
import numpy as np

In [ ]:
norm_loss_pro = df["bounces"].astype("float").mean(axis=0)

In [ ]:
df["bounces"].replace(np.nan, norm_loss_pro, inplace=True)

la columna bounces refiere a paginas rebotadas, si esta en 1 es por que la persona entro a 
la pagina por error y salio rapidamente, y la columna TimeOnsite refiere al tiempo del
usuario en la pagina. Crear una columna que se llame 'tiempo_real' que contenga la multiplicacion
de las columnas anteriores con el valor real, redondeado a 2 decimales (Ejemplo: 25.189 - > 25.19), 
retornando ese valor en un dato de tipo float.